<mat-accordion>
  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title >
        {{ imageTitle |  titlecase }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="greyscaled-image">
      <img [src]="imageLink">
    </div>
    <button mat-button color="primary" (click)="downloadImage(imageId)">Download</button>
    <button mat-button color="warn" (click)="removeImage(imageId)">Remove</button>


  </mat-expansion-panel>
</mat-accordion>