.image-upload-panel {
    width: 50%;
    margin: auto;
    margin-top: 2%;
    padding: 2%;
}

.image-greyscale-previews {
    width: 100%;
    margin: auto;
}

input[type="file"] {
    visibility: hidden;
}