.image-upload-panel {
    width: 50%;
    margin: auto;
    padding: 2%;
}

.image-preview{
    width: 100%;
    height: 70%;
    margin: auto;
}

.image-greyscale-previews {
    width: 54%;
    margin: auto;
}