.image-upload-panel {
    width: 50%;
    margin: auto;
    background-color: rgba(165, 156, 156, 0.322);
    padding: 2%;
}

.image-preview{
    width: 100%;
    height: 70%;
    margin: auto;
}

.image-preview canvas{
    width: 100%;
    height: 70%;
    margin: auto;
}